<div>
  <div id="top">
    <h1> Sorting Visualizer</h1>
    <div id="navbar"> 
        <div>
            <button (click)="resetClick()"> <b>Reset Array</b></button>
        </div>
        <div>
            <button (click)="sortmerge()"><b>Merge Sort</b></button>
        </div>
        <div>
            <button (click)="quickSort(currentArray)"><b>Quick Sort</b></button>
        </div>
        <div>
            <button (click)="heapSort(currentArray)"><b>Heap Sort</b></button>
        </div>
        <div>
            <button (click)="bubbleSort(currentArray)"><b>Bubble Sort</b></button>
        </div>
    </div>
  </div>
  
  <div class='container' >
    <div *ngFor="let i of currentArray" class='array-bar' [ngStyle]="{'height': i + 'px'}">
    </div>
  </div>

</div>



