<div>
  <div id="top">
    <h1> Sorting Visualizer</h1>
    <div id="navbar"> 
        <div>
            <button (click)="sortParentService.resetClick()"> <b>Reset Array</b></button>
        </div>
        <div>
            <button > <b>Merge Sort</b></button>
        </div>
        <div>
            <button><b>Quick Sort</b></button>
        </div>
        <div>
            <button><b>Heap Sort</b></button>
        </div>
        <div>
            <button><b>Bubble Sort</b></button>
        </div>
    </div>
  </div>
  
  <div class='container' >
    <div *ngFor="let i of sortParentService.currentArray" class='array-bar' [ngStyle]="{'height': i + 'px'}">
    </div>
  </div>

</div>



